<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<table>
  <tr>
    <th rowspan="2">Student id </th>
    <th rowspan="2">Name</th>
    <th colspan="2">Semester 1 </th>
    <th colspan="2">Semester 2</th>
    <th rowspan="2">Final</th>
  </tr>
  <tr>
    <td>Theory</td>
    <td>Lab</td>
    <td>Theory</td>
    <td>Lab</td>
  </tr>
  <tr>
    <td>2024001</td>
    <td>alice</td>
    <td>80</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>86</td>
  </tr>
  <tr>
    <td>2024002</td>
    <td>bob</td>
    <td>75</td>
    <td>82</td>
    <td>79</td>
    <td>84</td>
    <td>80</td>
  </tr>
   <tr>
    <td colspan="6">class avarage</td>
    <td>80</td>
  </tr>
</table>

</body>
</html>